@font-face {
	font-family: "icons";
	src: url('./icons.eot');
	src: url('./icons.eot?#iefix') format('eot'),
		url('./icons.woff') format('woff'),
		url('./icons.ttf') format('truetype'),
		url('./icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-check:before {
	content: "\E001";
}

.icon-cloud:before {
	content: "\E002";
}

.icon-down:before {
	content: "\E003";
}

.icon-help:before {
	content: "\E004";
}

.icon-left:before {
	content: "\E005";
}

.icon-minus:before {
	content: "\E006";
}

.icon-pause:before {
	content: "\E007";
}

.icon-play:before {
	content: "\E008";
}

.icon-plus:before {
	content: "\E009";
}

.icon-record:before {
	content: "\E00A";
}

.icon-right:before {
	content: "\E00B";
}

.icon-stop:before {
	content: "\E00C";
}

.icon-tape:before {
	content: "\E00D";
}

.icon-up:before {
	content: "\E00E";
}

.icon-x:before {
	content: "\E00F";
}
