.ui.modal-control
  flex-grow 1
  display flex
  flex-flow column nowrap
  margin 0

  .row.actions
    flex-basis (20px + margin)
    flex-grow 0
    flex-shrink 0

    .left,
    .right
      flex-grow 1

    .left
      text-align left

    .right
      text-align right

    .icon
      font-size 20px
      line-height 20px
      padding (margin / 2) margin
      display inline-block

      &:hover
        background ctrl-bg-color

      &.active
        color c3
