@require "../variables"

.ui.record-control
  flex-grow 1
  display flex
  flex-flow column nowrap
  margin 0

  .row.sample
    flex-grow 1
    flex-shrink 1
    padding (margin / 2)
    background ctrl-bg-color

  .display
    flex-grow 1
    display flex
    flex-flow column-nowrap
    justify-content center

  .ui.waveform
    margin 0

  .instruction
    align-self center
